#ContentPlaceHolder1_welcomeLabel {
    font-family: "Marcellus SC", serif;
    font-variant: small-caps;
    letter-spacing: 5px;
    font-size: 1.75em;
    -webkit-text-shadow: 2px 2px #000, 3px 3px 2px #8b8c87;
    text-shadow: 2px 2px #000, 3px 3px 2px #8b8c87;
}

.recently-added-repeater {
    width: 249px;
    float: left;
    margin: 10px 0;
}

.recently-added-repeater img {
    border: 1px solid #8b8c87;
    box-shadow: 8px 8px #000; 
}

.align-right-rating {
    float: right;
    margin-right: 20px;
}

